<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ligas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
        <!-- boostraap -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Futbol al maximo</a>
               
        </nav>        


        <div id="appJugadores" class="container">
            <!-- Formulario para añadir Jugadores -->
            <section class="form">
                <form action="" class="text-center">
                    <span v-if="!nombre">REQUERIDO*</span>
                    <span> formato incorrecto </span>
                    <input v-model="nombre" @keyup.enter="crearJugador" type="text" class="form-control"
                        placeholder="Nombre">                
                    <input v-model="edad" @keyup.enter="crearJugador" type="number" name="edad" placeholder="Edad"
                        class="form-control">
                    <input v-model="equipo" @keyup.enter="crearJugador" type="text" class="form-control"
                        placeholder="Equipo">
                    <input v-model="goles" @keyup.enter="crearJugador" type="number" name="goles" placeholder="Goles"
                        class="form-control">
                    <input v-model="posicion" @keyup.enter="crearJugador" type="text" class="form-control"
                        placeholder="posicion">
                    <!-- Botón para añadir -->
                    <input @click="crearJugador" type="button" value="Añadir" class="btn btn-success">
                </form>
            </section>
            <!-- Tabla donde se muestran los datos -->
            <section class="data">
                <caption>Jugadores</caption>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Goles</th>
                            <th scope="col">Posicion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(Jugador, index) in Jugadores">
                            <td>{{ Jugador.id }}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="nombreActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato nombre -->
                                    {{ Jugador.nombre }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="edadActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato edad -->
                                    {{ Jugador.edad }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="equipoActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato nombre -->
                                    {{ Jugador.equipo }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="golesActaulizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato edad -->
                                    {{ Jugador.goles }}                                
                                </span>
                            </td>
                            
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="posicionActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato nombre -->
                                    {{ Jugador.posicion }}
                                </span>
                                 <!-- Botón para guardar la información actualizada -->
                            <span v-if="formActualizar && idActualizar == index">
                                    <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                                </span>
                                <span v-else>
                                    <!-- Botón para mostrar el formulario de actualizar -->
                                    <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>
                                    <!-- Botón para borrar -->
                                    <button @click="borrarJugador(index)" class="btn btn-danger">Borrar</button>
                                </span>
                                             
                           
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new Vue({
                    el: '#appJugadores',
                    data: {
                        // Input nombre
                        nombre: '',
                        // Input edad
                        edad: '',
    
                        equipo:'',
    
                        goles:'',
    
                        posicion: '',
                        // Ver o no ver el formulario de actualizar
                        formActualizar: false,
                        // La posición de tu lista donde te gustaría actualizar 
                        idActualizar: -1,
                        // Input nombre dentro del formulario de actualizar
                        nombreActualizar: '',
                        // Input edad dentro del formulario de actualizar
                        edadActualizar: '',
    
                        equipoActualizar:'',
    
                        golesActaulizar:'',
    
                        posicionActualizar:'',
                        // Lista de Jugadores
                        Jugadores: [],

                        api: 'http://localhost:3000'
                    },
                    methods: {
                        crearJugador: function () {
                            // Anyadimos a nuestra lista
        
                            this.Jugadores.push({
                                id: + new Date(),
                                nombre: this.nombre,
                                edad:this.edad,
                                equipo:this.equipo,                           
                                goles:this.goles,
                                posicion:this.posicion
                               
                            });
                            // Vaciamos el formulario de añadir
                            this.nombre = '';
                            this.edad = '';
                            this.posicion = '';
                            this.equipo ='';
                            this.goles = '';
                        },
                        verFormActualizar: function (Jugador_id) {
                            // Antes de mostrar el formulario de actualizar, rellenamos sus campos
                            this.idActualizar = Jugador_id;
                            this.nombreActualizar = this.Jugadores[Jugador_id].nombre;
                            this.edadActualizar = this.Jugadores[Jugador_id].edad;
                            this.equipoActualizar = this.Jugadores[Jugador_id].equipo;
                            this.golesActaulizar = this.Jugadores[Jugador_id].goles;
                            this.posicionActualizar = this.Jugadores[Jugador_id].posicion;
                            // Mostramos el formulario
                            this.formActualizar = true;
                        },
                        borrarJugador: function (Jugador_id) {
                            // Borramos de la lista
                            this.Jugadores.splice(Jugador_id, 1);
                        },
                        guardarActualizacion: function (Jugador_id) {
                            // Ocultamos nuestro formulario de actualizar
                            this.formActualizar = false;
                            // Actualizamos los datos
                            this.Jugadores[Jugador_id].nombre = this.nombreActualizar;
                            this.Jugadores[Jugador_id].edad = this.edadActualizar;
                            this.Jugadores[Jugador_id].equipo = this.equipoActualizar;
                            this.Jugadores[Jugador_id].goles = this.golesActaulizar;
                            this.Jugadores[Jugador_id].posicion = this.posicionActualizar;
                            
                        }
                    }
                });
            });
        </script>
        <div id="appEquipos" class="container">
            <!-- Formulario para añadir Equipos -->
            <section class="form">
                <form action="" class="text-center">
                    <input v-model="nombre" @keyup.enter="crearEquipo" type="text" class="form-control" placeholder="nombre Equipo">
                    <input v-model="pEquipo" @keyup.enter="crearEquipo" type="text" name="pEquipo" placeholder="pais" class="form-control" >
                    <input v-model="tecnico" @keyup.enter="crearEquipo" type="text" name="tecnico" placeholder="tecnico" class="form-control">
                    <!-- Botón para añadir -->
                    <input @click="crearEquipo" type="button" value="Añadir" class="btn btn-success">
                </form>
            </section>
            <!-- Tabla donde se muestran los datos -->
            <section class="data">
                <caption>Equipos</caption>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Pais</th>
                            <th scope="col">Tecnico</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(Equipo, index) in Equipos">
                            <td>{{ Equipo.id }}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="nombreActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato nombre -->
                                    {{ Equipo.nombre }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="pEquipoActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato pEquipo -->
                                    {{ Equipo.pEquipo }}
                                </span>
                            </td>
                            <td>
                                    <span v-if="formActualizar && idActualizar == index">
                                        <!-- Formulario para actualizar -->
                                        <input v-model="tecnicoActualizar" type="text" class="form-control">
                                    </span>
                                    <span v-else>
                                        <!-- Dato pEquipo -->
                                        {{ Equipo.tecnico }}
                                    </span>
                            </td>
                            <td>
                                <!-- Botón para guardar la información actualizada -->
                                <span v-if="formActualizar && idActualizar == index">
                                    <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                                </span>
                                <span v-else>
                                    <!-- Botón para mostrar el formulario de actualizar -->
                                    <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>
                                    <!-- Botón para borrar -->
                                    <button @click="borrarEquipo(index)" class="btn btn-danger">Borrar</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new Vue({
                    el: '#appEquipos',
                    data: {
                        // Input nombre
                        nombre: '',
                        // Input pEquipo
                        pEquipo: '',

                        tecnico:'',
                        // Ver o no ver el formulario de actualizar
                        formActualizar: false,
                        // La posición de tu lista donde te gustaría actualizar 
                        idActualizar: -1,
                        // Input nombre dentro del formulario de actualizar
                        nombreActualizar: '',
                        // Input pEquipo dentro del formulario de actualizar
                        pEquipoActualizar: '',

                        tecnicoActualizar:'',
                        // Lista de Equipos
                        Equipos: [] 
                    },
                    methods: {
                        crearEquipo: function () {
                            // Anyadimos a nuestra lista
                            this.Equipos.push({
                                id: + new Date(),
                                nombre: this.nombre,
                                pEquipo: this.pEquipo,
                                tecnico:this.tecnico
                            });
                            console.log(this.Equipos,this.Jugadores)
                            localStorage.setItem('jugadores',JSON.stringify(this.Equipos))
                            var jj = JSON.parse(localStorage.getItem('jugadores'))
                            // Vaciamos el formulario de añadir
                            this.nombre = '';
                            this.pEquipo = '';
                            this.tecnico = '';
                        },
                        verFormActualizar: function (Equipo_id) {
                            // Antes de mostrar el formulario de actualizar, rellenamos sus campos
                            this.idActualizar = Equipo_id;
                            this.nombreActualizar = this.Equipos[Equipo_id].nombre;
                            this.pEquipoActualizar = this.Equipos[Equipo_id].pEquipo;
                            this.tecnicoActualizar = this.Equipos[Equipo_id].tecnico;
                            // Mostramos el formulario
                            this.formActualizar = true;
                        },
                        borrarEquipo: function (Equipo_id) {
                            // Borramos de la lista
                            this.Equipos.splice(Equipo_id, 1);
                        },
                        guardarActualizacion: function (Equipo_id) {
                            // Ocultamos nuestro formulario de actualizar
                            this.formActualizar = false;
                            // Actualizamos los datos
                            this.Equipos[Equipo_id].nombre = this.nombreActualizar;
                            this.Equipos[Equipo_id].pEquipo = this.pEquipoActualizar;
                            this.Equipos[Equipo_id].tecnico = this.tecnicoActualizar;
                        }
    
                      
                    }
                });
            });
        </script>
        <div id="appLigas" class="container">
            <!-- Formulario para añadir Ligas -->
            <section class="form">
                <form action="" class="text-center">
                    <input v-model="nombre" @keyup.enter="crearLiga" type="text" class="form-control" placeholder="nombre liga">
                    <input v-model="pLiga" @keyup.enter="crearLiga" type="text" name="pLiga" placeholder="pais" class="form-control">
                    <!-- Botón para añadir -->
                    <input @click="crearLiga" type="button" value="Añadir" class="btn btn-success">
                </form>
            </section>
            <!-- Tabla donde se muestran los datos -->
            <section class="data">
                <caption>Ligas</caption>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Liga</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(Liga, index) in Ligas">
                            <td>{{ Liga.id }}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="nombreActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato nombre -->
                                    {{ Liga.nombre }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <!-- Formulario para actualizar -->
                                    <input v-model="pLigaActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    <!-- Dato pLiga -->
                                    {{ Liga.pLiga }}
                                </span>
                            </td>
                            <td>
                                <!-- Botón para guardar la información actualizada -->
                                <span v-if="formActualizar && idActualizar == index">
                                    <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                                </span>
                                <span v-else>
                                    <!-- Botón para mostrar el formulario de actualizar -->
                                    <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>
                                    <!-- Botón para borrar -->
                                    <button @click="borrarLiga(index)" class="btn btn-danger">Borrar</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                new Vue({
                    el: '#appLigas',
                    data: {
                        // Input nombre
                        nombre: '',
                        // Input pLiga
                        pLiga: '',
                        // Ver o no ver el formulario de actualizar
                        formActualizar: false,
                        // La posición de tu lista donde te gustaría actualizar 
                        idActualizar: -1,
                        // Input nombre dentro del formulario de actualizar
                        nombreActualizar: '',
                        // Input pLiga dentro del formulario de actualizar
                        pLigaActualizar: '',
                        // Lista de Ligas
                        Ligas: [] 
                    },
                    methods: {
                        crearLiga: function () {
                            // Anyadimos a nuestra lista
                            this.Ligas.push({
                                id: + new Date(),
                                nombre: this.nombre,
                                pLiga: this.pLiga
                            });
                            // Vaciamos el formulario de añadir
                            this.nombre = '';
                            this.pLiga = '';
                        },
                        verFormActualizar: function (Liga_id) {
                            // Antes de mostrar el formulario de actualizar, rellenamos sus campos
                            this.idActualizar = Liga_id;
                            this.nombreActualizar = this.Ligas[Liga_id].nombre;
                            this.pLigaActualizar = this.Ligas[Liga_id].pLiga;
                            // Mostramos el formulario
                            this.formActualizar = true;
                        },
                        borrarLiga: function (Liga_id) {
                            // Borramos de la lista
                            this.Ligas.splice(Liga_id, 1);
                        },
                        guardarActualizacion: function (Liga_id) {
                            // Ocultamos nuestro formulario de actualizar
                            this.formActualizar = false;
                            // Actualizamos los datos
                            this.Ligas[Liga_id].nombre = this.nombreActualizar;
                            this.Ligas[Liga_id].pLiga = this.pLigaActualizar;
                        }
    
                      
                    }
                });
            });
        </script>           
             
</body>     
</html>